.footer {
  background: linear-gradient(rgb(255, 255, 255) 10%, rgb(219, 237, 255));
  color: #333;
  padding: 20px 0 10px;
  font-family: "Poppins", sans-serif;
  margin-top: auto;
}
.footer-container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.footer-section {
  line-height: 1.5;
}
.footer-title {
  color: #333;
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 600;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin: 6px 0;
}
.footer-section a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}
.footer-section a:hover {
  color: #0078ff;
}
.footer-social {
  margin-top: 10px;
}
.footer-social a {
  display: inline-block;
  color: #333;
  font-size: 18px;
  margin-right: 10px;
  transition: color 0.3s, transform 0.2s;
}
.footer-social a:hover {
  color: #0078ff;
  transform: scale(1.1);
}
.footer-bottom {
  border-top: 1px solid #333;
  text-align: center;
  padding-top: 15px;
  margin-top: 25px;
  font-size: 14px;
  color: #333;
}
